In [9]:
import numpy as np
import pandas as pd

In [10]:
query_sql = """
select *
from movies as mv

         inner join

     (select castlistfk, string_agg(name, ',') as castlist
      from castlist
      GROUP BY castlistfk) as castlist
     on mv.movie_id = castlist.castlistfk

         inner join

     (select crewlistfk, string_agg(name, ',') as crewlist
      from crewlist
      GROUP BY crewlistfk
     ) as crewlistfk
     on mv.movie_id = crewlistfk.crewlistfk

         inner join
     (select ratinglistfk, string_agg(userid::character varying, ',') as useridlist ,count(userid) as number_of_votes
      from ratinglist
      where rating = 5


      group by ratinglistfk
        having count(userid) > 300
     ) as useridlist
     on mv.movie_id = useridlist.ratinglistfk
"""

Get data from PostgreSQL Server (azure resource movie-warehouse must be run)

In [12]:
import psycopg2

conn = psycopg2.connect("host=movie-warehouse.postgres.database.azure.com port=5432 dbname=warehouse user=read_data_user password=zaq1@WSX sslmode=require")

data_org = pd.read_sql(query_sql, conn)

data_org

,movie_id,title,year,isadult,runtime,genre1,genre2,genre3,crewnumber,castnumber,avgrating,numofvotes,castlistfk,castlist,crewlistfk,crewlist,ratinglistfk,useridlist,number_of_votes
0,241,The Gold Rush,1925,0,95,Adventure,Comedy,Drama,1,7,4.053,2553,241,"Frank Aderias,Charles Chaplin,Mack Swain,Tom M...",241,Charles Chaplin,241,"235,428,621,980,1027,1120,1197,1234,1272,1393,...",1077
1,1053,Bride of Frankenstein,1935,0,75,Drama,Horror,Sci-Fi,12,2,3.731,2541,1053,"Boris Karloff,Colin Clive",1053,"James Whale,Mary Shelley,William Hurlbut,John ...",1053,"235,357,540,908,1471,1771,2025,2035,2040,2329,...",723
2,1008,The Thin Man,1934,0,91,Comedy,Mystery,\N,4,2,4.151,3704,1008,"William Powell,Nat Pendleton",1008,"W.S. Van Dyke,Albert Hackett,Frances Goodrich,...",1008,"43,160,486,502,559,581,620,664,856,926,1191,14...",1585
3,164,"Nosferatu, eine Symphonie des Grauens",1922,0,94,Fantasy,Horror,\N,3,3,3.871,4515,164,"Max Schreck,Alexander Granach,Gustav von Wange...",164,"F.W. Murnau,Henrik Galeen,Bram Stoker",164,"138,150,908,926,1086,1393,1400,1464,1519,2025,...",1480
4,481,All Quiet on the Western Front,1930,0,152,Drama,War,\N,7,4,3.936,2888,481,"Lew Ayres,Louis Wolheim,John Wray,Arnold Lucy",481,"Lewis Milestone,Erich Maria Remarque,Maxwell A...",481,"187,255,408,486,540,1200,1551,1711,2025,2477,2...",996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2465,23482,The Aviator,2004,0,170,Biography,Drama,\N,2,2,3.599,9606,23482,"Leonardo DiCaprio,John C. Reilly",23482,"Martin Scorsese,John Logan",23482,"414,540,549,1005,1028,1035,1126,1192,1427,1519...",1882
2466,36594,Spider-Man: Homecoming,2017,0,133,Action,Adventure,Sci-Fi,10,3,3.767,2662,36594,"Tom Holland,Michael Keaton,Robert Downey Jr.",36594,"Jon Watts,Jonathan Goldstein,John Francis Dale...",36594,"444,449,1089,2064,2230,2306,2618,2956,3360,379...",791
2467,9880,Eraserhead,1977,0,89,Fantasy,Horror,\N,1,2,3.632,3516,9880,"Jack Nance,Allen Joseph",9880,David Lynch,9880,"247,255,590,970,985,1185,1210,1242,1393,1980,2...",1109
2468,24757,Bolt,2008,0,96,Adventure,Animation,Comedy,3,2,3.363,3603,24757,"John Travolta,Mark Walton",24757,"Chris Williams,Byron Howard,Dan Fogelman",24757,"176,449,521,540,1010,1475,2418,3938,4559,5131,...",501
2469,39850,X-Men: Apocalypse,2016,0,144,Action,Adventure,Sci-Fi,6,3,3.300,2704,39850,"James McAvoy,Michael Fassbender,Nicholas Hoult",39850,"Bryan Singer,Simon Kinberg,Michael Dougherty,D...",39850,"368,379,2230,4226,4357,4586,4818,5903,6836,712...",410

/tmp/ipykernel_38424/1837359706.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_org = pd.read_sql(query_sql, conn)

,movie_id,title,year,isadult,runtime,genre1,genre2,genre3,crewnumber,castnumber,avgrating,numofvotes,castlistfk,castlist,crewlistfk,crewlist,ratinglistfk,useridlist,number_of_votes
0,241,The Gold Rush,1925,0,95,Adventure,Comedy,Drama,1,7,4.053,2553,241,"Frank Aderias,Charles Chaplin,Mack Swain,Tom M...",241,Charles Chaplin,241,"235,428,621,980,1027,1120,1197,1234,1272,1393,...",1077
1,1053,Bride of Frankenstein,1935,0,75,Drama,Horror,Sci-Fi,12,2,3.731,2541,1053,"Boris Karloff,Colin Clive",1053,"James Whale,Mary Shelley,William Hurlbut,John ...",1053,"235,357,540,908,1471,1771,2025,2035,2040,2329,...",723
2,1008,The Thin Man,1934,0,91,Comedy,Mystery,\N,4,2,4.151,3704,1008,"William Powell,Nat Pendleton",1008,"W.S. Van Dyke,Albert Hackett,Frances Goodrich,...",1008,"43,160,486,502,559,581,620,664,856,926,1191,14...",1585
3,164,"Nosferatu, eine Symphonie des Grauens",1922,0,94,Fantasy,Horror,\N,3,3,3.871,4515,164,"Max Schreck,Alexander Granach,Gustav von Wange...",164,"F.W. Murnau,Henrik Galeen,Bram Stoker",164,"138,150,908,926,1086,1393,1400,1464,1519,2025,...",1480
4,481,All Quiet on the Western Front,1930,0,152,Drama,War,\N,7,4,3.936,2888,481,"Lew Ayres,Louis Wolheim,John Wray,Arnold Lucy",481,"Lewis Milestone,Erich Maria Remarque,Maxwell A...",481,"187,255,408,486,540,1200,1551,1711,2025,2477,2...",996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2465,23482,The Aviator,2004,0,170,Biography,Drama,\N,2,2,3.599,9606,23482,"Leonardo DiCaprio,John C. Reilly",23482,"Martin Scorsese,John Logan",23482,"414,540,549,1005,1028,1035,1126,1192,1427,1519...",1882
2466,36594,Spider-Man: Homecoming,2017,0,133,Action,Adventure,Sci-Fi,10,3,3.767,2662,36594,"Tom Holland,Michael Keaton,Robert Downey Jr.",36594,"Jon Watts,Jonathan Goldstein,John Francis Dale...",36594,"444,449,1089,2064,2230,2306,2618,2956,3360,379...",791
2467,9880,Eraserhead,1977,0,89,Fantasy,Horror,\N,1,2,3.632,3516,9880,"Jack Nance,Allen Joseph",9880,David Lynch,9880,"247,255,590,970,985,1185,1210,1242,1393,1980,2...",1109
2468,24757,Bolt,2008,0,96,Adventure,Animation,Comedy,3,2,3.363,3603,24757,"John Travolta,Mark Walton",24757,"Chris Williams,Byron Howard,Dan Fogelman",24757,"176,449,521,540,1010,1475,2418,3938,4559,5131,...",501
2469,39850,X-Men: Apocalypse,2016,0,144,Action,Adventure,Sci-Fi,6,3,3.300,2704,39850,"James McAvoy,Michael Fassbender,Nicholas Hoult",39850,"Bryan Singer,Simon Kinberg,Michael Dougherty,D...",39850,"368,379,2230,4226,4357,4586,4818,5903,6836,712...",410

Clean up data

In [13]:
data = data_org.copy()
data = data.drop(columns=['castlistfk', 'crewlistfk', 'crewnumber', 'castnumber','ratinglistfk'])
data = data.replace('\\N', '')

data['genre'] = data[['genre1', 'genre2', 'genre3']].apply(lambda row: ",".join([genre for genre in row if genre]),
                                                           axis=1)

data['year'] = pd.to_numeric(data['year'], errors='coerce')
data['runtime'] = pd.to_numeric(data['runtime'], errors='coerce')
data[['year', 'runtime']] = data[['year', 'runtime']].interpolate(method='linear', limit_direction='forward', axis=0)

data.info()

data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2470 entries, 0 to 2469
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   movie_id         2470 non-null   int64
 1   title            2470 non-null   object
 2   year             2470 non-null   int64
 3   isadult          2470 non-null   int64
 4   runtime          2470 non-null   int64
 5   genre1           2470 non-null   object
 6   genre2           2470 non-null   object
 7   genre3           2470 non-null   object
 8   avgrating        2470 non-null   float64
 9   numofvotes       2470 non-null   int64
 10  castlist         2470 non-null   object
 11  crewlist         2470 non-null   object
 12  useridlist       2470 non-null   object
 13  number_of_votes  2470 non-null   int64
 14  genre            2470 non-null   object
dtypes: float64(1), int64(6), object(8)
memory usage: 289.6+ KB

,movie_id,title,year,isadult,runtime,genre1,genre2,genre3,avgrating,numofvotes,castlist,crewlist,useridlist,number_of_votes,genre
0,241,The Gold Rush,1925,0,95,Adventure,Comedy,Drama,4.053,2553,"Frank Aderias,Charles Chaplin,Mack Swain,Tom M...",Charles Chaplin,"235,428,621,980,1027,1120,1197,1234,1272,1393,...",1077,"Adventure,Comedy,Drama"
1,1053,Bride of Frankenstein,1935,0,75,Drama,Horror,Sci-Fi,3.731,2541,"Boris Karloff,Colin Clive","James Whale,Mary Shelley,William Hurlbut,John ...","235,357,540,908,1471,1771,2025,2035,2040,2329,...",723,"Drama,Horror,Sci-Fi"
2,1008,The Thin Man,1934,0,91,Comedy,Mystery,,4.151,3704,"William Powell,Nat Pendleton","W.S. Van Dyke,Albert Hackett,Frances Goodrich,...","43,160,486,502,559,581,620,664,856,926,1191,14...",1585,"Comedy,Mystery"
3,164,"Nosferatu, eine Symphonie des Grauens",1922,0,94,Fantasy,Horror,,3.871,4515,"Max Schreck,Alexander Granach,Gustav von Wange...","F.W. Murnau,Henrik Galeen,Bram Stoker","138,150,908,926,1086,1393,1400,1464,1519,2025,...",1480,"Fantasy,Horror"
4,481,All Quiet on the Western Front,1930,0,152,Drama,War,,3.936,2888,"Lew Ayres,Louis Wolheim,John Wray,Arnold Lucy","Lewis Milestone,Erich Maria Remarque,Maxwell A...","187,255,408,486,540,1200,1551,1711,2025,2477,2...",996,"Drama,War"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2465,23482,The Aviator,2004,0,170,Biography,Drama,,3.599,9606,"Leonardo DiCaprio,John C. Reilly","Martin Scorsese,John Logan","414,540,549,1005,1028,1035,1126,1192,1427,1519...",1882,"Biography,Drama"
2466,36594,Spider-Man: Homecoming,2017,0,133,Action,Adventure,Sci-Fi,3.767,2662,"Tom Holland,Michael Keaton,Robert Downey Jr.","Jon Watts,Jonathan Goldstein,John Francis Dale...","444,449,1089,2064,2230,2306,2618,2956,3360,379...",791,"Action,Adventure,Sci-Fi"
2467,9880,Eraserhead,1977,0,89,Fantasy,Horror,,3.632,3516,"Jack Nance,Allen Joseph",David Lynch,"247,255,590,970,985,1185,1210,1242,1393,1980,2...",1109,"Fantasy,Horror"
2468,24757,Bolt,2008,0,96,Adventure,Animation,Comedy,3.363,3603,"John Travolta,Mark Walton","Chris Williams,Byron Howard,Dan Fogelman","176,449,521,540,1010,1475,2418,3938,4559,5131,...",501,"Adventure,Animation,Comedy"
2469,39850,X-Men: Apocalypse,2016,0,144,Action,Adventure,Sci-Fi,3.300,2704,"James McAvoy,Michael Fassbender,Nicholas Hoult","Bryan Singer,Simon Kinberg,Michael Dougherty,D...","368,379,2230,4226,4357,4586,4818,5903,6836,712...",410,"Action,Adventure,Sci-Fi"

Create matrix features  using CountVectorizer

In [14]:
from sklearn.feature_extraction.text import CountVectorizer
count_genre = CountVectorizer(stop_words='english', tokenizer=lambda x: x.split(','), min_df=10)
vector_genre = count_genre.fit_transform(data['genre'])  # remove first col, because empty (not genre )
print("number of genre ( and binary columns) in future matrix", vector_genre.toarray().shape[1])
# #
count_cast = CountVectorizer(stop_words='english', tokenizer=lambda x: x.split(','), min_df=3)
vector_castlist = count_cast.fit_transform(data['castlist'])
print("number of cast ( and binary columns) in future matrix",vector_castlist.toarray().shape[1])

count_crew = CountVectorizer(stop_words='english', tokenizer=lambda x: x.split(','), min_df=3)
vector_crewlist = count_crew.fit_transform(data['crewlist'])
print("number of crew ( and binary columns) in futures matrix",vector_crewlist.toarray().shape[1])
#
count_user = CountVectorizer(stop_words='english', tokenizer=lambda x: x.split(','), min_df=100)
vector_userlist = count_user.fit_transform(data['useridlist'])
print("number of user ( and binary columns) in futures matrix",vector_userlist.toarray().shape[1])
#
indices = pd.Series(index=data['title'], data=data.reset_index().index).drop_duplicates(keep='last')
#
features = np.hstack([vector_genre.toarray() *100 , vector_crewlist.toarray() *100, vector_castlist.toarray() *100,vector_userlist.toarray()])
features.shape

number of genre ( and binary columns) in future matrix 22
number of cast ( and binary columns) in future matrix 633
number of crew ( and binary columns) in futures matrix 813
number of user ( and binary columns) in futures matrix 9695

(2470, 11163)

Calculate distance between movies

In [15]:
from sklearn.metrics import pairwise_distances

similarity = pairwise_distances(features, n_jobs=-1, metric='manhattan')
similarity_df = pd.DataFrame(data=similarity, columns=indices.index)

Save model (pkl file)

In [16]:
import pickle
f = open('similarity_df.pkl', 'wb')
pickle.dump(similarity_df, f)
f.close()

Recommendation function

In [17]:
import joblib

def recommendation(title: pd.DataFrame):

    data = joblib.load('similarity_df.pkl')
    indices = pd.DataFrame({'title': data.columns, 'index_distance': data.index}).drop_duplicates(keep='last')

    similarity = data.values

    index = list(indices[indices['title'].isin(title)]['index_distance'])

    sum_index_distance = np.sum(similarity[index], axis=0).reshape(-1,
                                                                   1)  # add distance_between_movies if more than one title

    similarity_scores = list(enumerate(list(sum_index_distance)))  # add distance_index

    similarity_scores = sorted(similarity_scores, key=lambda x: x[1])  # sort by distance_between_movies

    similarity_scores = similarity_scores[0 +len(title) :10 + len(title)]
    movie_indices = [i[0] for i in similarity_scores]

    return [indices[indices['index_distance'] == index_distance]['title'].values[0] for index_distance in movie_indices]


print(recommendation(["Harry Potter and the Order of the Phoenix","Harry Potter and the Half-Blood Prince"]))

['Harry Potter and the Deathly Hallows: Part 1', 'Harry Potter and the Deathly Hallows: Part 2', 'Harry Potter and the Goblet of Fire', 'Fantastic Beasts and Where to Find Them', 'Harry Potter and the Chamber of Secrets', 'Harry Potter and the Prisoner of Azkaban', 'Swiss Family Robinson', "Harry Potter and the Sorcerer's Stone", 'Night at the Museum', 'Divergent']

Register model in Azure Machine Learning Studio (for create endpoint)

In [ ]:
from azureml.core import Workspace
from azureml.core.model import Model


subscription_id= "9455b579-eee8-4f8d-ae1e-a23bfb9b72aa"
resource_group="Databricks"
workspace_name="Azure_machine_learning"
ws = Workspace(subscription_id=subscription_id,resource_group=resource_group,workspace_name=workspace_name)


Model.register(model_path="similarity_df.pkl",
                          model_name="model_recsimilarity_model",
                          # tags={'area': "diabetes", 'type': "classification"},
                          description="save distance between movies",
                          workspace=ws)

Save model as blob file (for update model)

In [23]:
from azure.storage.blob import BlobClient

connectionString = "DefaultEndpointsProtocol=https;AccountName=azuremachinele8230842786;AccountKey=EDDV7/IgWaE06todRtOxj4TEpwFlFMJjAxF47EHvKE+KcwGxO8tDs4jMIOnYI3Q+dONukza4tebe+ASt7z0pmA==;EndpointSuffix=core.windows.net"
containerName = 'pythoncode'
outputBlobName = "similarity_df.pkl"
blob = BlobClient.from_connection_string(conn_str=connectionString, container_name=containerName,
                                         blob_name=outputBlobName)
with open(outputBlobName, "rb") as data:
    blob.upload_blob(data,overwrite=True)